@charset "UTF-8";

input{
	border: 0px none;
	outline: none;
	border-left:0px;
	border-top:0px;
	border-right:0px;
	border-bottom:1px;
}

textarea {
    outline: none;
}

table, th, td {
	border-style:none!important;
}


